.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.am-color {
  background-color: #c0e7f4;
  margin-right: 10px;
}

.pm-color {
  background-color: #f8d2f8;
  margin-right: 10px;
}

.backup-color {
  background-color: #c1fec1;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
}

th {
  background-color: #d3d3d3;
  color: black;
  padding: 15px;
  text-align: center;
  border: none;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 0px solid #ddd;
  border: none;
}

th:first-child, td:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.am-row {
  background-color: #c0e7f4;
}

.pm-row {
  background-color: #f8d2f8;
}

.backup-row {
  background-color: #c1fec1;
}

.empty-day {
  background-color: #ff0000;
}

.highlight {
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
	th, td {
	  font-size: 0.7em; 
	  padding: 5px;
  }
  .am-color, .pm-color, .backup-color {
    padding: 8px 20px;
  }
}